body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;

  /* Colors */
  --white: #fff;
  --neutral-600: #525252;
  --neutral-200: #e5e5e5;
  --neutral-400: #a3a3a3;
  --blue-600: #2563eb;
  --neutral-300: #d4d4d4;
  --color-gray: #262626;

  /* Gaps */
  --gap-8xs: 5px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-xl: 20px;
  --padding-mini: 15px;

  /* border radiuses */
  --br-8xs: 5px;
}
